<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>im.yqc.alfred.screenshot</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>4C8041CB-5083-4DDA-B648-194E699F6817</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>74C1AA0E-7434-4375-8E7B-251A03FB3590</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6F035FAF-A302-4A15-9B08-E0827B2904BD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AB893608-D31D-49D5-A021-C885F5B7DBFC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>74C1AA0E-7434-4375-8E7B-251A03FB3590</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E15D8EBD-C361-450A-8C5D-3B38A26BDE76</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AB893608-D31D-49D5-A021-C885F5B7DBFC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D9D441C3-D16A-4E4F-A70A-3CFF829E6DA6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B15852A5-3C35-4FB3-903C-21E116CAE70D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6F035FAF-A302-4A15-9B08-E0827B2904BD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D9D441C3-D16A-4E4F-A70A-3CFF829E6DA6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1B7C4334-EE74-4D10-9C78-6ADFFE5FF2BB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F1B3C113-64E8-4374-A12E-610E9CBD831D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E15D8EBD-C361-450A-8C5D-3B38A26BDE76</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6E3FB57A-FA81-4D46-85B7-B3E9D79CC54E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>818234D7-C189-4F77-9668-6C980A5909E9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F1B3C113-64E8-4374-A12E-610E9CBD831D</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Sailor</string>
	<key>description</key>
	<string>Easy way to make a screenshot by alfred, add watermark automatically</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Fast Screenshot By Alfred</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run args
  set the clipboard to POSIX file (first item of args)
  return the clipboard
end</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1B7C4334-EE74-4D10-9C78-6ADFFE5FF2BB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query="{query}"

# /usr/local/bin/magick $query.jpg -resize 1000 $query.resize.jpg &amp; echo -n $query.png

# /usr/local/bin/magick $query.jpg -strip -interlace Plane -gaussian-blur 0.05 -quality 90% -resize 600 $query.com.jpg &amp; echo -n $query.png

/usr/local/bin/magick $query.jpg -resize 666 -unsharp 2x0.5+0.7+0 -quality 85 $query.com.jpg &amp; echo -n $query</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AB893608-D31D-49D5-A021-C885F5B7DBFC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query="{query}"

/usr/local/bin/magick $query.com.jpg $HOME/Pictures/logos/malagis.png -gravity southeast -geometry +5+10 -composite $query.dest.jpg &amp; echo -n $query.dest.jpg</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D9D441C3-D16A-4E4F-A70A-3CFF829E6DA6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>29</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>0</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>B15852A5-3C35-4FB3-903C-21E116CAE70D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>cd $HOME/Pictures/screenshots/

rm -rf *

fileName=$HOME/Pictures/screenshots/$(date +%Y-%m-%d-%H-%M-%S)

screencapture -i -x -a -r $fileName.jpg &amp; echo -n $fileName</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6F035FAF-A302-4A15-9B08-E0827B2904BD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>the screenshot had saved to your clipboard</string>
				<key>title</key>
				<string>screenshot success</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F1B3C113-64E8-4374-A12E-610E9CBD831D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run args
  set the clipboard to POSIX file (first item of args)
  return the clipboard
end</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6E3FB57A-FA81-4D46-85B7-B3E9D79CC54E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query="{query}"

# /usr/local/bin/magick $query.jpg -resize 1000 $query.resize.jpg &amp; echo -n $query.png

# /usr/local/bin/magick $query.jpg -strip -interlace Plane -gaussian-blur 0.05 -quality 90% -resize 600 $query.com.jpg

/usr/local/bin/magick $query.jpg -resize 666 -unsharp 2x0.5+0.7+0 -quality 85 $query.com.jpg &amp; echo -n $query.com.jpg</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E15D8EBD-C361-450A-8C5D-3B38A26BDE76</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>cd $HOME/Pictures/screenshots/

rm -rf *

fileName=$HOME/Pictures/screenshots/$(date +%Y-%m-%d-%H-%M-%S)

screencapture -i -x -a -r $fileName.jpg &amp; echo -n $fileName</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>74C1AA0E-7434-4375-8E7B-251A03FB3590</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>25</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>9</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>4C8041CB-5083-4DDA-B648-194E699F6817</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>the screenshot had saved to your clipboard</string>
				<key>title</key>
				<string>screenshot success</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>818234D7-C189-4F77-9668-6C980A5909E9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1B7C4334-EE74-4D10-9C78-6ADFFE5FF2BB</key>
		<dict>
			<key>xpos</key>
			<integer>760</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>4C8041CB-5083-4DDA-B648-194E699F6817</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>6E3FB57A-FA81-4D46-85B7-B3E9D79CC54E</key>
		<dict>
			<key>xpos</key>
			<integer>610</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>6F035FAF-A302-4A15-9B08-E0827B2904BD</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>74C1AA0E-7434-4375-8E7B-251A03FB3590</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>818234D7-C189-4F77-9668-6C980A5909E9</key>
		<dict>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>470</integer>
		</dict>
		<key>AB893608-D31D-49D5-A021-C885F5B7DBFC</key>
		<dict>
			<key>xpos</key>
			<integer>400</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>B15852A5-3C35-4FB3-903C-21E116CAE70D</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>D9D441C3-D16A-4E4F-A70A-3CFF829E6DA6</key>
		<dict>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>E15D8EBD-C361-450A-8C5D-3B38A26BDE76</key>
		<dict>
			<key>xpos</key>
			<integer>400</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>F1B3C113-64E8-4374-A12E-610E9CBD831D</key>
		<dict>
			<key>xpos</key>
			<integer>760</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://yqc.im</string>
</dict>
</plist>
